<hr>
<a href="przelew">przelew</a>&nbsp;<a href="przelew/all">przelewy wykonane</a>
<hr><br>
<h3 >Wyszystkie przelewy </h3>
<table>
 {% for przelew in przelews %}
     <tr>
     <form method="GET" name="{{przelew.from}}{{przelew.odbiorca}}">
        <th><input type="hidden" value="{{ przelew.id }}" name="id"></th>
         <th> {{ przelew.from }}</th>
        <th> {{przelew.odbiorca}} </th>
        <th>{{ przelew.rachunek }}</th>
        <th>{{ przelew.kwota }}</th>
        <th>{{ przelew.tytul | safe }}</th>
        <th>{{ przelew.data }}</th>
     <th><input type="submit"></th>
     </form>
        {% endfor %}
    </tr>
</table>