<hr>
<a href="przelew">przelew</a>&nbsp;<a href="przelew/all">przelewy wykonane</a>
<hr><br>
<h3 >Wyszystkie przelewy </h3>
<form method="post">
 Wpisz datę od której chcesz zobaczyć przelewy<input type="text" name="date">
    <input type="submit">
    {% csrf_token %}
</form>
<table>
 {% for przelew in przelews %}
     <tr>
        <th> {{przelew.odbiorca}} </th>
        <th>{{ przelew.rachunek }}</th>
        <th>{{ przelew.kwota }}</th>
        <th>{{ przelew.tytul }}</th>
        <th>{{ przelew.data }}</th>
        {% endfor %}
    </tr>
</table>